@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

nav {
	list-style-type: none;
	margin: -10px;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(236, 234, 234);
	height: 55px;

  }

  ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
  }

  li {
	float: right;
  }

  li a {
	display: block;
	color: black;
	font-family: new-hero, sans-serif;
	text-align: center;
	padding: 1px 16px;
	text-decoration: none;
	line-height: 55px;
  }

  li a:hover {
	background-color: #f6cfcf;
  }

div{
	font-family: new-hero, sans-serif;
}


.header h1 {
	font-size: 45px;
	padding-left: 15px;
	color: rgba(255, 255, 255, .1);
	text-align: center;
	font-family: new-hero, sans-serif;
	background: -webkit-linear-gradient(left,pink,purple,rgb(246, 113, 246), rgb(103, 119, 235),violet);
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	animation-name: colorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  }

  .header h1:hover {
	cursor: pointer;
  }

  @keyframes colorchange {
	0% {
	  background-position: right 0px bottom 0px;
	}
	100% {
	  background-position: right 10em bottom 0px;
	}
  }
/* h1{
	color: black;
	font-family: "Georgia";
	font-style: bold;
	font-size:50px;
	text-align: left;
} */

h6{
	text-align:center;
	font-size: 15px;
}

#aboutMe{
display: flex;
}

body{
	background-color: rgb(236, 234, 234);
}


.flex-container{
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	/* align-items: flex-end;
	justify-content: flex-end; */
	opacity: 0;
	animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.flex-container > div{
	width: 100px;
	margin: 50px;
	padding:100px;


}
#pictureLucy {
	animation: fadeIn 3s ease-in-out forwards;
 }


#aboutMe{
	background-color: rgb(184, 228, 237);
	font-family: new-hero, sans-serif;
	width: 600px;
	margin: 50px;
	padding:25px;
	text-align: center;
	font-size:25px;
	border:2px solid black;
	border-radius: 100% 56% 69% 31% / 20% 52% 48% 80%;
	justify-content: space-between;



}

#aboutMe2{
	background-color: rgb(170, 230, 170);
	font-family: new-hero, sans-serif;
	width: 600px;
	margin: 50x;
	padding:25px;
	text-align: center;
	font-size:25px;
	border:2px solid black;
	border-radius:91% 59% 11% 89% / 41% 49% 99% 59%;
	justify-content: space-between;


}

#aboutMe3{
	background-color: rgb(237, 194, 229);
	font-family: new-hero, sans-serif;
	width: 600px;
	margin: 50px;
	padding:25px;
	text-align: center;
	font-size:25px;
	border:2px solid black;
	border-radius: 100% 0% 100% 0% / 17% 91% 9% 83% ;
	justify-content: space-between;


}

#musicconnection{
	font-size:20px;
	text-align:center;
	border: 2px dotted black;



}
.parent-container{
	display:flex;
	flex-direction:row-reverse;
	margin-left:auto;
	margin-right:auto;
}
.flex-container2{
	display:flex;
	flex-direction: row-reverse;
	margin-left:auto;
	margin-right:auto;
	animation: fadeIn 3s ease-in-out forwards;


}
.flex-container2 > div{
	width: 50px;
	margin: 20px;
	padding:25px;

}

div.photos{
		float:left;
vertical-align: middle;
	margin:25px;
	padding: 15px;

}

div.summary{
	text-align: center;
	font-size:15px;

}
#moreSlay{
	font-size:20px;
	text-align:center;
	border: 2px dotted black;


}

.center{
	margin-left:auto;
	margin-right:auto;
}
td{
	border: 1px solid black;
	border-collapse: collapse;
}
ol {
	font-size:20px;
	text-align:center;

}


